@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Fonts & headings */

h1, h2 {
    font-family: 'Merienda One', cursive;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: xx-large;
}

header {
    color: beige;
}

.text-center {
    text-align: center;
}

strong {
    font-size: 1.3em;
}

/* Colors */

.black-background {
    background-color: black;
}

/* Header */

.home-page-header {
    min-height: 400px;
    padding-top: 10%;
    background-image: url('images/coffeehouse.jpg');
    background-size: cover;
    background-position: center 75%;
}

/* Navigation */

nav {
    padding: 1em;
}

nav a {
    text-decoration: none;
    margin: 1em;
    color: beige;
}

nav a:hover {
    color: silver;
}

/* Layout */

.flex {
    display: -webkit-box;
    display: flex;
}

.one-third-width-column {
    width: 33.33%;
    display: inline-block;
}

.two-thirds-width-column {
    width: 66.66%;
    display: inline-block;
}

img {
    width: 96%;
    margin: 2%;
    border-radius: 8px;
}

.reasons-box {
    padding: 30px 5px;
    width: 100%;
    background-color: beige;
    margin: 2%;
    border-radius: 8px;
    position: relative;
    left: 20%;
    top: 15%;
}

/* lists */

#reasons-section ul {
    list-style: none;
    padding: 0;
}

#reasons-section li {
    margin-top: 5%;
}