@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}

/* Fonts & headings */

h1, h2, h3 {
    font-family: 'Merienda One', cursive;
}

h1, h2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: xx-large;
}

header {
    color: beige;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

strong {
    font-size: 1.3em;
}

.text-uppercase-spaced,
legend {
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

/* Colors */

.black-background {
    background-color: black;
}

.text-white {
    color: white;
}

/* Header */

.page-header {
    height: 50vh;

    /* use long version to start with and 
    then convert to shorthand when that is introduced */
    
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center 75%; */
    background: center 75% / cover no-repeat;
}

#home {
    background-image: url('images/coffeehouse.jpg');
}

.form-page-header {
    background-image: url('images/table.jpg');
}

#drinks {
    padding: 1rem 0 1rem 0;
    margin-bottom: 80px;
    
    /* use long version to start with and 
    then convert to shorthand when that is introduced */

    /* background-image: url('images/coffee-beans.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    
    background: url('images/coffee-beans.jpg') center center / cover no-repeat fixed;
}

/* Navigation */

nav {
    padding: 1em;
}

nav a {
    text-decoration: none;
    margin: 1em;
    color: beige;
}

nav a:hover {
    color: silver;
}

/* Layout */

.flex {
    display: -webkit-box;
    display: flex;
}

.vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.one-third-width-column {
    width: 33.33%;
    display: inline-block;
}

.two-thirds-width-column {
    width: 66.66%;
    display: inline-block;
}

img {
    width: 96%;
    margin: 2%;
    border-radius: 8px;
}

.reasons-box {
    padding: 10px 5px 25px 5px;
    width: 100%;
    background-color: chocolate;
    margin: 2%;
    border-radius: 8px;
    position: relative;
    left: 20%;
    top: 15%;
}

.drinks-box {
    margin: 1rem;
}

#coffee-box {
    background-color: brown;
    position: relative;
    left: 70px;
    top: -15px;
}

#tea-box {
    background-color: tan;
    z-index: 2;
}

#cold-drinks-box {
    background-color: chocolate;
    position: relative;
    right: 70px;
    top: -15px;
}

/* padding to allow for fixed footer */
#contact {
    margin-bottom: 50px;
}

.contact-boxes-container {
    width: 66%;
    margin: 0 auto;
}

.contact-box-left {
    width: 250px;
    float: left;
    margin-top: -20px;
}

.contact-box-right {
    width: 250px;
    float: right;
    text-align: right;
    margin-top: -20px;
}

.contact-box-center {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

/* lists */

ul {
    list-style: none;
    padding: 0;
}

#reasons li {
    margin-top: 5%;
}

/* Footer */

footer {
    background-color: #6f4e37;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}

footer > a,
footer > span {
    color: beige;
    text-decoration: none;
    padding: 0 15px 0 15px;
    font-size: 0.8rem;
}

footer > span {
    color: silver;
}

footer > a:hover {
    color: chocolate;
}

/* form.html */

.block-label {
    display: block;
}

fieldset {
    margin-top: 20px;
}

legend {
    font-size: large;
    font-weight: 600;
    margin: 20px 0 10px 0;
}

input[type=submit] {
    margin-top: 20px
}

form {
    width: 700px;
    background-color: white;
    margin: 25px auto;    
    padding: 25px;
    border-radius: 8px;
}

input[type=text],
input[type=email] {
    height: 30px;
    width: 90%;
    margin: 0 auto;
    padding-left: 10px;
}

select {
    height: 30px;
    width: 100px;
    padding-left: 10px;
}

/* 5% less makes room for padding on parent */
#other-coffee-text-field {
    width: 95%;
}

.half-width-form-block {
    width: 50%;
    display: inline-block;
}

label {
    margin: 10px 15px 5px 0;
}

fieldset {
    border: none;
}

.checkboxes-box div {
    margin-top: 15px;
}

#terms {
    height: 200px;
    width: 90%;
    padding: 0.5rem;
    margin: 1.5rem 0 0 15px;
    border: 1px solid grey;
    overflow: scroll;
}

input[type=submit] {
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 5px;
}