<!-- This section will be at the beginning of every unit within the course -->
<section>
    <div class="question-container"><img
            src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/01-html-fundamentals/ui+kit-01.png"
            class="question-img" />
        <div class="inner">
            <p class="question-text">What is it?</p>
            <p>
                <!-- What it is -->
            </p>
        </div>
    </div>
    <div class="question-container"><img
            src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/01-html-fundamentals/ui+kit-02.png"
            class="question-img" />
        <div class="inner">
            <p class="question-text">What does it do?</p>
            <p>
                <!-- What it does -->
            </p>
        </div>
    </div>
    <div class="question-container"><img
            src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/01-html-fundamentals/ui+kit-03.png"
            class="question-img" />
        <div class="inner">
            <p class="question-text">How do you use it?</p>
            <p>
                <!-- How to use it -->
            </p>
        </div>
    </div>
</section>
<br>