<section>
    <div class="white-box clearfix">
        <div class="top-content"><img src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/Assets-17.png"
                alt="" class="icon-img" />
            <p>
                <!-- heading -->
            </p>
        </div>
        <div class="inner-content">
            <p>Headings on a web page serve the same purpose as headings in a document, online article or magazine. They
                are designed to catch your attention, and so they are larger than the main text.</p>
            <p>In HTML, headings have six different levels from level 1 - the largest, to level 6 - the smallest. In the
                past, we were advised to use the headings in order. That is - you shouldn't use a level 2 heading as the
                main headline on the page. In modern web design, though, we care more about using whichever heading
                makes sense for the look we're trying to achieve.</p>
            <p>In the Playground, below, we've given you a heading block. Drag it onto the workspace, and see how each
                of the different sizes look. Take a look, too, at the code that is being generated - we'll be asking you
                to use it later.</p>
        </div>
    </div>
</section>
<section>
    <div class="white-box">
        <div class="top-content"><img src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/swing.png" alt=""
                class="icon-img" />
            <p>
                Playground
            </p>
        </div>
        <div class="inner-content">
            <p>Now that you have been introduced to the html, head and body elements, your task is to use this understanding to build the structure of a html document using the blocks provided.</p>

            <p>Instructions:</p>
            <ol>
                <li>Place a <strong>html block</strong> onto the board.</li>
                <li>Place the <strong>head block</strong> inside the html block</li>
                <li>Inside the html block connect the <strong>body block</strong> underneath the head block</li>
            </ol>

            <p>Check out the html output to see how the structure of what you have built is translated into code.</p>

            <p>If you have arranged your elements correctly, the html output should look like this:</p>

            <div style="text-align: center;" class="mb-4">
                <img src="https://codeinstitute.s3.amazonaws.com/HTMLEssentials/html-essentials-1-first-look.png"
                    alt="Sample output from HTML First Look playground" />
            </div>

            <!-- Replace `src` with relevant URL here. If this is not the first iframe on the page, be sure to change the `id` to the relevant number -->
            <p><iframe id="iframe1"
                    src="https://code-institute-org.github.io/playground/playground.html?lang=html&blocks=html$head$body"
                    width="1000px" height="550px" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
            <p></p>
            <!-- If this is not the first iframe on the page, update the this with the relevant iframe ID -->
            <p><button onclick="toggleFullScreen('iframe1')" class="fancy-button medium ci-special zoom">Expand<i
                        class="fa fa-arrows-alt"></i></button></p>
        </div>
    </div>
</section>
<section>
    <div class="white-box clearfix">
        <div class="inner-content">
            <p>Now, we want to add a main headline to our <em>Coders Coffeehouse</em> page. We want it to grab
                everyone's attention, so we're going to use a <strong>level 1 heading</strong>. Using what you learned
                above, add a level 1 heading in the <code>body</code> of our project below. We want the text to read:
                <em>Coders Coffeehouse</em>. This is what it should look like when you run it:</p>
            <div style="text-align: center;">
                <img src="https://codeinstitute.s3.amazonaws.com/HTMLEssentials/html-essentials-1-first-look.png"
                    alt="Sample output from HTML First Look playground" />
            </div>
        </div>
    </div>
</section>
<section>
    <div class="white-box text-center">
        <div class="top-content"><img src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/Assets-20.png"
                alt="" class="icon-img" />
            <p>Runnable Example</p>
        </div>
        <div class="inner-content">
            <!-- Replace `src` with relevant URL here. If this is not the first iframe on the page, be sure to change the `id` to the relevant number -->
            <p><iframe id="iframe2" src="https://repl.it/@codingchallenges/poc-playground?lite=true" width="900px"
                    height="750px" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
            <p></p>
            <!-- If this is not the first iframe on the page, update the this with the relevant iframe ID -->
            <p><button onclick="toggleFullScreen('iframe2')" class="fancy-button medium ci-special zoom">Expand<i
                        class="fa fa-arrows-alt"></i></button></p>
        </div>
    </div>
</section>
<section>
    <div class="white-box clearfix">
        <div class="inner-content">
            <p>Well done! You've seen how easy it is to add headings to your project. We're going to test your knowledge
                in the next unit, and then we'll discuss adding some regular text content.</p>
        </div>
    </div>
</section>