<section>
    <div class="white-box text-center">
        <div class="top-content"><img src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/Assets-17.png"
                alt="" class="icon-img" />
            <p>
                Anchor
            </p>
        </div>
        <div class="inner-content">

            <p><strong>&lt;a href=”http://www.codeinstitute.net”>Code Institute&lt;/a&gt;</strong></p>
            <p>
                One of the core elements of the World Wide Web is the anchor (or hyperlink), which links from one page
                to another. Remember that HTML stands for Hypertext Markup Language. Hypertext implies that it contains
                hyperlinks. Why is it called hyper? Why not just links or just text? Hyper means that order is not
                linear. The order of the linking does not matter. It is not important which document is visited first.
            </p>
            <p>
                HTML links are defined by an anchor tag <code>&lt;a&gt;</code>. They can be images, text or any other
                HTML element, but they need to be wrapped inside an anchor. There are also styles for different states
                of an anchor; visited and active.
            </p>
            <p>
                When linking to another document, we need to tell the anchor which document should be opened. The
                document's source is the purpose of the <code>href</code> attribute. It refers to the destination
                address. Any valid URL can be used as a href value, but it has to be in quotes. You may have noticed
                that some links lead to a page within the same website, or even to a subsection of the same page, while
                others redirect to completely different pages outside of the current website.
            </p>
            <p><strong>&lt;a href=”http://www.codeinstitute.net” target=”_blank”>Code Institute&lt;/a&gt;</strong></p>
            <p>
                If you are providing links to an external page from your site, you probably don’t want users to forget
                where they started from. To make sure your site doesn’t disappear from view in the browser and be
                replaced by the new content you’ll want to open the links in a separate browser tab. To do this, just
                add the <code>target="_blank"</code> attribute and value to your anchor.
            </p>
            <p>You can also use the anchor to link to sections on the same page. To do this, the target section will
                need to have an an <code>id</code>. You then provide the id in the <code>href</code> prefixed with a #.
                Here is an example:</p>
            <p>
                <strong>
                    <pre style="color:#e84610; text-align: left;">&lt;a href="#next-section">Jump to section on the same page&lt;/a&gt;
...            
&lt;div id="next-section"&gt; &lt;!-- The anchor tag links to here --&gt;</pre></strong></p>
        </div>
    </div>
</section>