<section>
    <div class="white-box clearfix">
        <div class="top-content"><img src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/Assets-17.png"
                alt="" class="icon-img" />
            <p class="m-0 top-content-paragraph">Form</p>
        </div>
        <div class="inner-content">
            <p>Forms have many usees:</p>
            <ul>
                <li>Login and registration to secure websites</li>
                <li>Customer feedback</li>
                <li>Live chat</li>
                <li>Booking events</li>
                <li>Buying products online</li>
                <li>Polls</li>
                <li>Anything that requires the submission of user information</li>
            </ul>
            <p>
                Forms collect input from the user. They are essential for the interaction between a user and a
                website or application. They contain input elements where a user can enter information, such as an
                email address or a password. You see and use forms all the time online.
            </p>
            <p>
                A <code>&lt;form&gt;</code> element is composed of one or more child elements. Those elements can be
                text fields (single line or multiline), select boxes, buttons, checkboxes, radio buttons and many other
                elements used to collect data.
            </p>
        </div>
    </div>
    <img src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/01-html-fundamentals/GithubForm.png"
        alt="A form from GitHub showing user login" class="concept-img large-img" />
    </div>
</section>





<!-- This section will be used for any content areas that are comprised solely of text -->
<section>
    <div class="white-box text-center">
        <div class="top-content"><img src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/Assets-17.png"
                alt="" class="icon-img" />
            <p>
                HTML Tables
            </p>
        </div>
        <div class="inner-content">
            <p>
                HTML tables are used to organize data or information in columns and rows. Tables can be used for
                anything from
                displaying hospital patient data to cateloging Pokemon cards.
            </p>
            <p>
                A HTML table uses 4 different types of element to construct a table:
            </p>
            <ol>
                <li>The <code>&lt;table&gt;</code> element is the parent element for the entire table, all the other
                    elements nest inside it.</li>
                <li>The <code>&lt;tr&gt;</code> element, tr stands for <strong>Table Row</strong> and defines each
                    row of the table, each row is nested directly inside the <code>&lt;table&gt;</code> element.</li>
                <li>The <code>&lt;th&gt;</code> element, th stands for <strong>Table Header</strong>.
                    <code>&lt;th&gt;</code>
                    is used to define the headings for the table, typically displayed in the top row. </li>
                <li>The <code>&lt;td&gt;</code> element, td stands for <strong>Table Data</strong>. Use
                    <code>&lt;td&gt;</code>
                    for all your table cells that contain the data to be displayed.</li>
            </ol>
        </div>
    </div>
</section>

<section>
    <div class="white-box text-center">
        <div class="top-content"><img src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/Assets-20.png"
                alt="" class="icon-img" />
            <p>Runnable Example</p>
        </div>
        <div class="inner-content">
            <!-- Replace `src` with relevant URL here. If this is not the first iframe on the page, be sure to change the `id` to the relevant number -->
            <p><iframe id="iframe1" src="https://repl.it/@codingchallenges/NestedListExample?lite=true" width="900px"
                    height="750px" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
            <p></p>
            <!-- If this is not the first iframe on the page, update the this with the relevant iframe ID -->
            <p><button onclick="toggleFullScreen('iframe1')" class="fancy-button medium ci-special zoom">Expand<i
                        class="fa fa-arrows-alt"></i></button></p>
        </div>
    </div>
</section>