<!-- Playground section -->
<section>
    <div class="white-box">
        <div class="top-content"><img src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/swing.png" alt=""
                class="icon-img" />
            <p>
                Playground
            </p>
        </div>
        <div class="inner-content">
            <p>Now you have learned some more about html elements, let's play around with the heading,
                paragraph and topic break elements in the Playground. You may notice that the html, head and
                body blocks are not available this time. The playground allows us to work without these blocks,
                so they will not always appear. This is so we can focus on small parts
                of the structure and code at a time.
            </p>

            <p>Instructions:</p>
            <ol>
                <li>Place a <strong>heading block</strong> onto the playground board.</li>
                <li>Add a <strong>text block</strong> to the heading block, and add the text “Welcome to Coders
                    Coffeehouse!” to it.</li>
                <li>Connect a <strong>paragraph block</strong> <em>underneath</em> the heading block.</li>
                <li>Add a <strong>text block</strong> to the paragraph block, and add the text “Turning caffeine into
                    code since 1999.” to it.</li>
                <li>Connect a <strong>topic break block</strong> underneath the paragraph block.</li>
            </ol>

            <p>Check out the html output to see how the structure of what you have built is translated into code. Notice
                that the topic break element tag
                <code>&lt;hr&gt;</code> has no closing tag, that is because this element is a self-closing tag, because it creates a
                horizontal rule across the page, it doesn't have any content.</p>

            <!-- Replace `src` with relevant URL here. If this is not the first iframe on the page, be sure to change the `id` to the relevant number -->
            <p><iframe id="iframe1"
                    src="https://code-institute-org.github.io/playground/playground.html?lang=html&blocks=heading$paragraph$plaintext$horizontalbreak"
                    width="1000px" height="550px" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
            <p></p>
            <!-- If this is not the first iframe on the page, update the this with the relevant iframe ID -->
            <p>
                <button onclick="toggleFullScreen('iframe1')" class="fancy-button medium ci-special zoom">
                    Expand <i class="fa fa-arrows-alt"></i>
                </button>
            </p>

            <p>If you have arranged your elements correctly, the preview window output should look like this:</p>
            <div class="mb-4">
                <img src="https://codeinstitute.s3.amazonaws.com/HTMLEssentials/html-essentials-4-tags-1.png"
                    alt="Sample output from tags blockly lesson" />
            </div>
        </div>
    </div>
</section>

<!-- CC instructions -->
<p>Now lets write our first bit of code for the Coders Coffeehouse project. Below we have the basic structure for a html
    document. But we need to add a title element to the head so that the website name shows in the browser tab.</p>
<p>Using what you have learned above:</p>
<ol>
    <li>Add a <strong>title element</strong> inside the head element</li>
    <li>Inside the title element, add the text "Coders Coffeehouse"</li>
    <li>Click the Run button to see your code translated into a live page</li>
</ol>