<section>
    <div class="white-box">
        <div class="inner-content pt-4">
            <p>
                Now that we have learned a little about external links, let’s try playing around with them in the playground below.
            </p>

            <p>Instructions:</p>
            <ol>
                <li>Place a <strong>link to block</strong> onto the playground, and add a text block with the content <strong>Find us on facebook</strong> to it.</li>
                <li>Inside the <strong>link to block</strong>, replace target with the url for the facebook landing page https://www.facebook.com/</li>
                <li>Add the value of the ID as <strong>coffee</strong>.</li>
                <li>Take another attribute block, and following the same steps create and add an ID of <strong>tea</strong> for the div with the content "Tea" inside it.</li>
            </ol>

            <p>When you have arranged your elements correctly, the preview window output should look like this:</p>
            <div class="mb-4">
                <img src="#"
                    alt="Sample output from classes blockly lesson" width="400" />
            </div>

            <p>Try swapping the id blocks around, to see what changes in the preview window.</p>

        </div>
    </div>
</section>

<!-- Playground section -->
<section>
    <div class="white-box">
        <div class="top-content"><img src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/swing.png" alt=""
                class="icon-img" />
            <p>
                Playground
            </p>
        </div>
        <div class="inner-content">

            <!-- Replace `src` with relevant URL here. If this is not the first iframe on the page, be sure to change the `id` to the relevant number -->
            <p><iframe id="iframe1"
                    src="https://code-institute-org.github.io/playground/playground.html?lang=html&blocks=link$plaintext$generic_attribute"
                    width="1000px" height="550px" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
            <p></p>
            <!-- If this is not the first iframe on the page, update the this with the relevant iframe ID -->
            <p>
                <button onclick="toggleFullScreen('iframe1')" class="fancy-button medium ci-special zoom">
                    Expand <i class="fa fa-arrows-alt"></i>
                </button>
            </p>
        </div>
    </div>
</section>