<!-- Start of playground code including instructions block -->
<section>
    <div class="white-box">
        <div class="top-content"><img src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/swing.png" alt=""
                class="icon-img" />
            <p>Playground</p>
        </div>
        <div class="inner-content">

            <p>
                <!-- Playground intro text that is not part of the actual instructions -->
            </p>

            <div id="pgContainer" style="width: 100%; background-color: white;">

                <!-- Instructions go in the pgInstructions div -->

                <div id="pgInstructions"
                    style="background-color: #fff; width: 35%; height: 100%; display: inline-block; vertical-align: top; position: relative; transition: width 1s;">
                    <div id="pgText"
                        style="sizing: border-box; padding: 5px; height: 500px; width: 95%; transition: width 1s; overflow-x: hidden; overflow-y:auto;">
                        <h2>Instructions</h2>
                        <ol>
                            <li>
                            <!-- very explicit step by step instructions -->
                            </li>
                        </ol>

                        <!-- Update this description if applicable -->
                        <p>When you have arranged your elements correctly, the preview window output should look like
                            this:</p>
                        <div>
                            <!-- update image file to screencapture of output saved in S3 bucket -->
                            <img src="https://codeinstitute.s3.amazonaws.com/CSSEssentials/16-pixels-2.png"
                                alt="" />
                        </div>

                    </div>
                    <button id="pgButton" style="position: absolute; top: 0; right: 0; padding: 7px;">
                        <i id="collapseBtnPg" class="fa fa-chevron-left" style="font-style: normal;"></i>
                    </button>
                </div>

                <!-- Playground iframe, replace the URL parameters as required -->

                <iframe id="playground"
                    src="https://code-institute-org.github.io/playground/playground.html?lang=html&blocks=heading$plaintext$newlist$listelement"
                    style="width: 64%; transition: width 1s; min-height: 500px; height: 100%;" frameborder="0"
                    allowfullscreen="allowfullscreen"></iframe>

                <!-- Full screen toggle button, expands pgContainer -->

                <p><button onclick="toggleFullScreen('pgContainer')"
                        class="fancy-button medium ci-special zoom">Expand<i class="fa fa-arrows-alt"></i></button></p>
                <!-- Squidgy div JavaScript -->
                <script>
                    window.addEventListener('resize', function () {
                        let currHeight = document.getElementById("playground").offsetHeight;
                        document.getElementById("pgText").style.height = currHeight > 500 ? "100%" :
                            "500px";
                    }, true);
                    document.getElementById("pgButton").addEventListener("click", function () {
                        let currWidth = document.getElementById("pgInstructions").style.width;
                        document.getElementById("pgInstructions").style.width = currWidth == "45px" ? "35%" :
                            "45px";
                        document.getElementById("playground").style.width = currWidth == "45px" ? "64%" : "95%";
                        document.getElementById("pgText").style.display = currWidth == "45px" ? "block" :
                            "none";
                        /* Changes chevron on button to point the other way */
                        pgBtn = document.getElementById("collapseBtnPg");
                        if (pgBtn.classList.contains('fa-chevron-left')) {
                            pgBtn.classList.remove("fa-chevron-left");
                            pgBtn.classList.add("fa-chevron-right");
                        } else {
                            pgBtn.classList.remove("fa-chevron-right");
                            pgBtn.classList.add("fa-chevron-left");
                        }
                    })
                </script>
            </div>
        </div>
    </div>
</section>
<!-- End of playground code -->