<!-- Coders Coffeehouse runnable introduction-->
<section>
    <div class="white-box">
        <div class="inner-content py-4">
            <p>
                Now let's try adding some ids to our Coders Coffeehouse project in the runnable example below. 
                The css to apply the styles as already been written in a css file connected to the code.
                Your job is to apply the ids and classes to the right elements using the <code>id</code> <code>class</code> attributes.
                <br><br> 
            </p>
            <ol>
                <li>Using the comments in the code below as a guide, apply the
                    <strong>text-white</strong> class name to each div wrapping a drinks menu sub-heading.</li>
                <li>Apply the id of <strong>coffee-box</strong> to the parent div of the level 3 heading "Coffee"</li>
                <li>Apply the id of <strong>tea-box</strong> to the parent div of the level 3 heading "Tea"</li>
                <li>Apply the id of <strong>cold-drinks-box</strong> to the parent div of the level 3 heading "Cold drinks"</li>
            </ol>

            <p>When you have added your id and class attributes correctly, the preview should look like when you run
                it:
            </p>
            <div style="text-align: center;">
                <img src="#"
                    alt="Sample output from classes lesson runnable" width="500" />
            </div>

        </div>
    </div>
</section>

<!-- Runnable example section -->
<section>
    <div class="white-box text-center">
        <div class="top-content"><img src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/Assets-20.png"
                alt="" class="icon-img" />
            <p>Runnable Example</p>
        </div>
        <div class="inner-content">

            <!-- Replace `src` with relevant URL here. If this is not the first iframe on the page, be sure to change the `id` to the relevant number -->
            <p><iframe id="iframe2" src="https://repl.it/@codingchallenges/HTML-CC-12-ids?lite=true" width="900px"
                    height="750px" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
            <p></p>
            <!-- If this is not the first iframe on the page, update the this with the relevant iframe ID -->
            <p><button onclick="toggleFullScreen('iframe2')" class="fancy-button medium ci-special zoom">Expand<i
                        class="fa fa-arrows-alt"></i></button></p>
        </div>
    </div>
</section>