<!-- Start of runnable code including instructions block -->
<section>
    <div class="white-box">
        <div class="top-content"><img src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/swing.png" alt=""
                class="icon-img" />
                <!-- Change title to "Runnable Example" if not using CC for this topic -->
            <p>Coders Coffeehouse</p>
        </div>
        <div class="inner-content">
            <p>
                <!-- Intro that is not part of the actual instructions. -->
            </p>
            <div id="pgContainer" style="width: 100%; background-color: white;">

                <!-- Instructions go in the pgInstructions div -->

                <div id="pgInstructions"
                    style="background-color: #fff; width: 35%; height: 100%; display: inline-block; vertical-align: top; position: relative; transition: width 1s;">
                    <div id="pgText"
                        style="sizing: border-box; padding: 5px; height: 500px; width: 95%; transition: width 1s; overflow-x: hidden; overflow-y:auto;">
                        <h2>Instructions</h2>
                        <ol>
                            <li>
                                <!-- step by step instructions here -->
                            </li>
                        </ol>

                        <!-- Update where applicable -->
                        <p>When you have added your code, the relevant part of the preview window should look like 
                            this when you run it:</p>
                        <div class="mb-4">
                            <!-- update image file to screencapture of output saved in S3 bucket -->
                            <img src="https://codeinstitute.s3.amazonaws.com/HTMLEssentials/html-essentials-21-radios-2.png"
                                alt="Sample output from forms coders coffeehouse radio buttons runnable example" />
                        </div>

                        <h2>Tips</h2>
                        
                        <p>If you are stuck, make sure to read the instructions very carefully to be sure you have completed all the steps. 
                            Remember that input elements are self closing, and label elements have closing tags.
                            The previous units on <!-- Update topic --> Pixels <!----> will give you everything you
                            need to succeed.</p>
                    </div>
                    <button id="pgButton" style="position: absolute; top: 0; right: 0; padding: 7px;">
                        <i id="collapseBtnPg" class="fa fa-chevron-left" style="font-style: normal;"></i>
                    </button>
                </div>

                <!-- replit iframe, replace the URL parameters as required -->

                <iframe id="playground" src="https://repl.it/@codingchallenges/HTML-CC-21-radios?lite=false"
                    style="width: 64%; transition: width 1s; min-height: 500px; height: 100%;" frameborder="0"
                    allowfullscreen="allowfullscreen"></iframe>

                <!-- Full screen toggle button, expands pgContainer -->

                <p><button onclick="toggleFullScreen('pgContainer')"
                        class="fancy-button medium ci-special zoom">Expand<i class="fa fa-arrows-alt"></i></button></p>
                <!-- Squidgy div JavaScript -->
                <script>
                    window.addEventListener('resize', function () {
                        let currHeight = document.getElementById("playground").offsetHeight;
                        document.getElementById("pgText").style.height = currHeight > 500 ? "100%" :
                            "500px";
                    }, true);
                    document.getElementById("pgButton").addEventListener("click", function () {
                        let currWidth = document.getElementById("pgInstructions").style.width;
                        document.getElementById("pgInstructions").style.width = currWidth == "45px" ? "35%" :
                            "45px";
                        document.getElementById("playground").style.width = currWidth == "45px" ? "64%" : "95%";
                        document.getElementById("pgText").style.display = currWidth == "45px" ? "block" :
                            "none";
                        /* Changes chevron on button to point the other way */
                        pgBtn = document.getElementById("collapseBtnPg");
                        if (pgBtn.classList.contains('fa-chevron-left')) {
                            pgBtn.classList.remove("fa-chevron-left");
                            pgBtn.classList.add("fa-chevron-right");
                        } else {
                            pgBtn.classList.remove("fa-chevron-right");
                            pgBtn.classList.add("fa-chevron-left");
                        }
                    })
                </script>
            </div>
        </div>
    </div>
</section>
<!-- End of runnable code -->

<section>
    <div class="white-box clearfix">
        <div class="inner-content mt-3">
            <!-- Update conclusion as required -->
            <p>Well done! You have learned about radio button inputs and their attributes. We are going to test your
                knowledge in the next unit, and then we will discuss some other input types and their uses.
            </p>
        </div>
    </div>
</section>