<!-- Coders Coffeehouse runnable introduction-->
<section>
    <div class="white-box">
        <div class="inner-content py-4">
            <p>
                Our Coders Coffeehouse website is going to have a second page on it with a survey form to collect
                useful information from customers. To open this second html file, click the <i class="far fa-file"></i> icon in 
                the top left corner of the runnable example below, and then select the <strong>form.html</strong> file.
            </p>
            <p>
                Now that that's open, let's start building our form under the navigation links. Start by adding the form element,
                and then place an <strong>input</strong> element with the type attribute set to <strong>text</strong> inside the form element. 
            </p>
            <p>When you have written your code correctly, the relevant section of the preview output should look like
                this when you click the run button:</p>
            <div class="mb-4">
                <img src="#" alt="Sample output from forms coders coffeehouse runnable example 1" />
            </div>

        </div>
    </div>
</section>

<!-- Runnable example section -->
<section>
    <div class="white-box text-center">
        <div class="top-content"><img src="https://s3-eu-west-1.amazonaws.com/codeinstitute/fullstack/Assets-20.png"
                alt="" class="icon-img" />
            <p>Runnable Example</p>
        </div>
        <div class="inner-content">

            <!-- Replace `src` with relevant URL here. If this is not the first iframe on the page, be sure to change the `id` to the relevant number -->
            <p><iframe id="iframe2" src="https://repl.it/@codingchallenges/HTML-CC-19-forms-1?lite=true"
                    width="900px" height="750px" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
            <p></p>
            <!-- If this is not the first iframe on the page, update the this with the relevant iframe ID -->
            <p><button onclick="toggleFullScreen('iframe2')" class="fancy-button medium ci-special zoom">Expand<i
                        class="fa fa-arrows-alt"></i></button></p>
        </div>
    </div>
</section>